{% extends 'base.html.twig' %}

{% block body %}

<div class="example-wrapper">
    <p>Vous êtes connecté {{ app.user.userIdentifier }} !</p>
    <a href="{{ path('app_home')}} ">   
        <input type="button" value="Retour au menu" />
    </a>
    <a href="{{ path('app_home')}} ">   
        <input type="button" value="Mes publications" />
    </a>
</div>


            {{ form_errors(addPicture) }}

            {{ form_start(addPicture) }}

            {{form_rest(addPicture)}}

            <button class="button" type="submit">
                Valider
            </button>

            {{ form_end(addPicture) }}
            
{% endblock %}
