{% extends 'base.html.twig' %}

{% block body %}

<div class="example-wrapper">
    <p>Vous êtes connecté {{ app.user.userIdentifier }} !</p>
    <a href="{{ path('app_home')}} ">   
        <input type="button" value="Retour au menu" />
    </a>
    <a href="{{ path('app_logout')}} ">   
        <input type="button" value="Mes publications" />
    </a>
    <a href="{{ path('app_user_favorites')}} ">
        <input type="button" value="Mes favoris" />
    </a>
    <a href="{{ path('app_post_new')}} ">
        <input type="button" value="Nouvelle publication" />
    </a>
</div>
{% endblock %}
